interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
      \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"\
      >\n<soap:Header/>\n<soap:Body>\n    <get_bugs xmlns=\"None\">\n    <arg0>package</arg0><arg1>wnpp</arg1><arg2>status</arg2><arg3>open</arg3></get_bugs>\n\
      </soap:Body>\n</soap:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset="UTF-8"
    method: POST
    uri: https://bugs.debian.org/cgi-bin/soap.cgi
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soap:Envelope soap:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soap:Body><get_bugsResponse
        xmlns="None"><soapenc:Array soapenc:arrayType="xsd:int[6256]" xsi:type="soapenc:Array"><item
        xsi:type="xsd:int">119911</item><item xsi:type="xsd:int">140577</item><item
        xsi:type="xsd:int">183373</item><item xsi:type="xsd:int">195688</item><item
        xsi:type="xsd:int">200715</item><item xsi:type="xsd:int">201448</item><item
        xsi:type="xsd:int">206536</item><item xsi:type="xsd:int">210245</item><item
        xsi:type="xsd:int">228550</item><item xsi:type="xsd:int">237925</item><item
        xsi:type="xsd:int">248397</item><item xsi:type="xsd:int">289632</item><item
        xsi:type="xsd:int">289684</item><i[...]
