# Copyright (C) 2021 Sebastian Pipping <sebastian@pipping.org>
# Licensed under GNU Affero GPL v3 or later

name: Build and test using Docker

# Drop permissions to minimum, for security
permissions:
  contents: read

on:
  pull_request:
  push:
  schedule:
    - cron: '0 16 * * 5'  # Every Friday 4pm
  workflow_dispatch:

jobs:
  build_and_test:
    name: Build and test using Docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      # NOTE: docker-compose breaks with Python >=3.13
      - name: Set up Python 3.12
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |-
          pip install \
            --disable-pip-version-check \
            --user \
            --no-warn-script-location \
            'docker<7' \
            'PyYAML==5.3.1' \
            'requests<2.32.0' \
            'urllib3<2' \
            docker-compose
          echo "PATH=${HOME}/.local/bin:${PATH}" >> "${GITHUB_ENV}"

      - name: Configure Docker environment
        run: |-
          docker network create --internal ssl-reverse-proxy
          tee .env <<-EOF
            WDN_POSTGRES_NAME=wdn111
            WDN_POSTGRES_USER=wdn222
            WDN_POSTGRES_PASSWORD=wdn333
            WDN_SECRET_KEY=wdn444
          EOF

      - name: Build Docker image
        run: |-
          docker-compose build

      - name: Run tests using Docker
        run: |-
          docker-compose run wnpp-debian-net test -v2
